<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="destroy.css">
        <link rel="shortcut icon" type="image/png" href="imagens/favicon-64x64.png">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <title>Meet</title>
    </head>

    <body>
        <div id="container-principal">
            <div id="container-disconnect-txt">
                <span>Disconnected!</span>
            </div>
            <div id="container-disconnect-button">
                <form action="/retornar" method="get">
                    <button type="submit" id="return-login-button">Return to Login</button>
                </form>
            </div>
        </div>
    </body>
</html>