<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="principal.css">
        <link rel="shortcut icon" type="image/png" href="imagens/favicon-64x64.png">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <title>Meet</title>
    </head>

    <body>
        <div id="container-header">
            <img src="/imagens/tucanoHeader.png" id="tucano-img">
            <nav>
                <ul>
                    <li><a href="main">Home</a></li>
                    <li><a href="/chat">My groups</a></li>
                    <li><a href="profile">Profile</a></li>
                </ul>
            </nav>
        </div>
        <div id="page-info">
            <div id="creation-group">
                <button type="button" id="plus-button">
                    <span id="txt-creation">New group</span>
                </button>            
            </div>    
        </div>


    <!--
    GRUPOS RECOMENDADOS
    -->
    <div class="section">
        <span class="section-name">Recommended groups</span>
    

        <%if(total){%>
            <div id="wrapper">
                <div id="carousel">
                    <div id="content">
                        <% for (let i=0; i < total; i++) { %>
                            <form action="/id-grupo" method="post">
                                <div class="item">                            
                                    <img class="card-img" src="/imagens/grupo.png" alt="1" />
                                                            
                                    <h1 class="card-span">
                                        <span><%= nome[i] %></span>
                                    </h1>
    
                                    <div class="card-button">
                                        <button type="submit" class="join-button">Join!</button>
                                    </div>
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
                <button id="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
                    </svg>
                </button>
                <button id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                    </svg>
                </button>
            </div>
        <%}%>
    </div>








    <!--
    GRUPOS POPULARES
    -->
    <div class="section">
        <span class="section-name">Popular groups</span>
    

        <%if(total){%>
            <div id="wrapper">
                <div id="carousel">
                    <div id="content">
                        <% for (let i=0; i < total; i++) { %>
                            <div class="item">
                                <img class="card-img" src="/imagens/grupo.png" alt="1" />
                                <h1 class="card-span">
                                    <span><%= nome[i] %></span>
                                </h1>
                                <div class="card-button">
                                    <button type="submit" class="join-button">Join!</button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <button id="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
                    </svg>
                </button>
                <button id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                    </svg>
                </button>
            </div>
        <%}%>
    </div>

    <!--
    GRUPOS SEGUINDO
    -->
    <div class="section">
        <span class="section-name">Following groups</span>
    

        <%if(total){%>
            <div id="wrapper">
                <div id="carousel">
                    <div id="content">
                        <% for (let i=0; i < total; i++) { %>
                            <div class="item">
                                <img class="card-img" src="/imagens/grupo.png" alt="1" />
                                <h1 class="card-span">
                                    <span><%= nome[i] %></span>
                                </h1>
                                <div class="card-button">
                                    <button type="submit" class="join-button">Join!</button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <button id="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
                    </svg>
                </button>
                <button id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                    </svg>
                </button>
            </div>
        <%}%>
    </div>

    <div class="popup">
        <div class="close-button">&times;</div>
        <form action="/criar" method="post" class="form">
            <h2>Create group</h2>
            <div class="form-element">
                <input type="text" id="group-name" placeholder=" " name="nomeGrupo" maxlength="20" required>
                <label for="group-name">Name</label>
            </div>
            <div class="form-button">
                <button type="submit">Create!</button>
            </div>
        </form>
    </div>

        <script>
            const gap = 50;

            const carousel = document.getElementById("carousel"),
                content = document.getElementById("content"),
                next = document.getElementById("next"),
                prev = document.getElementById("prev");

            next.addEventListener("click", e => {
                carousel.scrollBy(width + gap, 0);
                if (carousel.scrollWidth !== 0) {
                    prev.style.display = "flex";
                }
                if (content.scrollWidth - width - gap <= carousel.scrollLeft + width) {
                    next.style.display = "none";
                }
            });
            prev.addEventListener("click", e => {
                carousel.scrollBy(-(width + gap), 0);
                if (carousel.scrollLeft - width - gap <= 0) {
                    prev.style.display = "none";
                }
                if (!content.scrollWidth - width - gap <= carousel.scrollLeft + width) {
                    next.style.display = "flex";
                }
            });

            let width = carousel.offsetWidth;
            console.log(width)
            window.addEventListener("resize", e => (width = carousel.offsetWidth));
        </script> 
        
        <script>
            document.querySelector("#plus-button").addEventListener("click", function () {
                document.querySelector(".popup").classList.add("active");
            })
            document.querySelector(".popup .close-button").addEventListener("click", function () {
                document.querySelector(".popup").classList.remove("active");
            })
            if (document.getElementById("group-name") !== valueMissing) {
                document.querySelector(".popup .form-button").addEventListener("click", function () {
                    document.querySelector(".popup").classList.remove("active");
                })
            }
        </script>
    </body>
</html>