div {
    border: none !important;
}


.header {
    width: 100%;
    margin-bottom: 50px;
    
}

svg {
    position: relative;
}

#container-tucano {
    position: absolute;
    padding: 0%;
    width: 10%;
    height:20%;
    top: 2%;
    left: 2%;
}

#tucano-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#name-txt {
    position: absolute;
    left: 60%;
    top: 35%;
    font-size: 60px;
    color: #282828;
    font-weight: bold;

}

#container-welcome {
    position: absolute;
    width: 25%;
    height: 7%;
    top: 5%;
    left: 40%;
    /*border: 2px solid black;*/
}

#welcome-txt {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: #282828;
    font-weight: bold;
    white-space: nowrap;
}









.grupos-recomendados{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    width: 100%;
    border: solid 4px brown;
}

.grupos-title{
    margin: 10px;
    font-size: 25px;
    /*background-color: #FFCA36;*/
    border-radius: 10px;
    padding: 5px;
}

.card-container{
    width: fit-content;
    display: flex; 
    margin: auto;
    flex-direction: row;
    border: solid 4px gray;
}

.card{
    display: block;
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(#FF4267, #FFC933);
    border-radius: 21px;
    margin-left: 50px;
    height: 450px;
    width: 300px;
}

.card:nth-child(1){
    margin-left: 0px;
}

.card-title{
    display: block;
    margin-bottom: 40px;
}

.card-text{
    text-align: justify;
}
.card-img{
    border-radius: 100%;
}

.card-title img{
    width: 50%;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: solid 2px black;
}

.card-title span{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}




